### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [154]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [155]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [156]:
total_players = purchase_data['SN'].nunique()
total_players
total_df = pd.DataFrame({'Total Players':[total_players]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [157]:
unique_items = purchase_data['Item ID'].nunique()
unique_items
average_price = purchase_data['Price'].mean()
average_price
purchases = len(purchase_data['Purchase ID'])
purchases
revenue = purchases * average_price
revenue
purchasing_df = pd.DataFrame({'Number of Unique Items':[unique_items],'Average Price': [average_price], 'Number of Purchases': [purchases], 'Total Revenue':[revenue]})
purchasing_df = purchasing_df.style.format(formatter ={('Average Price'):('${0:,.2f}'),('Total Revenue'):('${0:,.2f}')})
purchasing_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [158]:
grouped = purchase_data.groupby(['Gender'])
grouped.head()
gender_count = grouped['SN'].nunique()
gender_count
gender_count_pct = gender_count / total_players *100
gender_df = pd.DataFrame(data=gender_count)
gender_df = gender_df.rename(columns={'SN':'Total Count'})
gender_df['Percentage of Players'] = gender_count_pct
gender_df = gender_df.style.format(formatter={('Percentage of Players'):('{0:,.2f}%')})
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [159]:

purchase_count = grouped['Purchase ID'].count()
average_purchase = grouped['Price'].mean()
total_purchase = grouped['Price'].sum()
averagep_person = total_purchase / gender_count
averagep_person
purchase_gender = pd.DataFrame(data=purchase_count)
purchase_gender = purchase_gender.rename(columns={'Purchase ID': 'Purchase Count'})
purchase_gender['Average Purchase Price'] = average_purchase
purchase_gender['Total Purchase Value'] = total_purchase
purchase_gender['Avg Total Purchase per Person'] = averagep_person
purchase_gender = purchase_gender.style.format(formatter={('Average Purchase Price'):('${0:,.2f}'),('Total Purchase Value'):('${0:,.2f}'),('Avg Total Purchase per Person'):('${0:,.2f}')})
purchase_gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [160]:
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,999]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['Age Group'] = pd.cut(purchase_data['Age'],bins,labels=bin_labels,include_lowest=True)
age_grouped = purchase_data.groupby('Age Group')
age_grouped.head()
age_count = age_grouped['SN'].nunique()
age_count
age_percent = age_count / total_players * 100
age_df = pd.DataFrame(data=age_count)
age_df = age_df.rename(columns={'SN':'Total Count'})
age_df['Percentage of Players']= age_percent
age_df = age_df.style.format(formatter={('Percentage of Players'):('{0:,.2f}%')})
age_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [161]:
purchase_age = age_grouped['Purchase ID'].count()
average_purchase_age = age_grouped['Price'].mean()
total_purchase_age = age_grouped['Price'].sum()
averagep_person_age = total_purchase_age / age_count
age_df_purchase = pd.DataFrame(data=purchase_age)
age_df_purchase = age_df_purchase.rename(columns={'Purchase ID':'Purchase Count'})
age_df_purchase['Average Purchase Price'] = average_purchase_age
age_df_purchase['Total Purchase Value'] = total_purchase_age
age_df_purchase['Avg Total Purchase per Person'] = averagep_person_age
age_df_purchase = age_df_purchase.style.format(formatter={('Average Purchase Price'):('${0:,.2f}'),('Total Purchase Value'):('${0:,.2f}'),('Avg Total Purchase per Person'):('${0:,.2f}')})
age_df_purchase

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [162]:
spenders = purchase_data.groupby('SN')
purchase_spender = spenders['Purchase ID'].count()
average_purchase_spender =spenders['Price'].mean()
total_purchase_spender = spenders['Price'].sum()
spender_df = pd.DataFrame(data=purchase_spender)
spender_df = spender_df.rename(columns={'Purchase Id':'Purchase Count'})
spender_df['Average Purchase Price'] = average_purchase_spender
spender_df['Total Purchase Value'] = total_purchase_spender
spender_df = spender_df.sort_values(by=['Total Purchase Value'], ascending=False)
spender_df_summary = spender_df.head(5)
spender_df_summary = spender_df_summary.style.format(formatter={('Average Purchase Price'):('${0:,.2f}'),('Total Purchase Value'):('${0:,.2f}')})
spender_df_summary

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [163]:
item_df = purchase_data[['Item ID','Item Name','Price']]
grouped_item = item_df.groupby(['Item ID','Item Name'])
item_count = grouped_item['Item Name'].count()
item_count_df = pd.DataFrame(data=item_count)
item_count_df = item_count_df.rename(columns={'Item Name':'Purchase Count'})
item_count_df = item_count_df.sort_values(by=['Purchase Count'],ascending=False)
item_count_df = pd.merge(item_df,item_count_df,on='Item ID',how='right')
item_count_df = item_count_df.drop_duplicates(['Item ID'])
item_count_df['Total Purchase Value'] = item_count_df['Purchase Count'] * item_count_df['Price']
item_count_summary = item_count_df.head(5)
item_count_summary = item_count_summary.style.format(formatter={('Price'):('${0:,.2f}'),('Total Purchase Value'):('${0:,.2f}')})
item_count_summary

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [164]:
item_count_df = item_count_df.sort_values(by='Total Purchase Value',ascending=False)
item_count_summary = item_count_df.head(5)
item_count_summary = item_count_summary.style.format(formatter={('Price'):('${0:,.2f}'),('Total Purchase Value'):('${0:,.2f}')})
item_count_summary